html {
  scroll-behavior: smooth;
}

body {
  color: #757575;
  background-color: #fff;
  font-family: saira, roboto, sans-serif;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 60px 0;
}
